$govuk-assets-path: "/claim-vat-enrolment/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/claim-vat-enrolment/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
